@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #EDEFF9;
}

.logo{
  height: 50px;
}
.link{
  font-size: 1.1rem;
  font-weight: 400;
}
.link:hover{
  color: #6AB04C;
  font-weight: 500;
}
li:hover{
  border-bottom: .15rem solid  #6AB04C;
}
.hdn{
  color: #6AB04C;
  font-weight: 500;
  font-size: 1.3rem;
  position: absolute;
  display: none;
}
.hdn .icon{
  margin-top: .23em;
  position: absolute;
}
.responce{
  left: 0;
  height: 100%;
  width: 17rem;
  border-radius: .3rem;
  padding: 2rem 0;
  cursor: pointer;
}




@media (max-width:959px) {
  .hdn{
    display: block;
  }
  
  .logodiv{
    position: absolute;
    right: 5%;
  }
}